
@{
    ViewData["Title"] = "Index";
}

<br />
<h1 class="mt-5 text-center">Hello Admin!</h1>
<br />

<hr />


<a class="btn btn-primary mb-3" asp-action="ListRoles"
   asp-controller="Admin">Show all roles</a>

