<div class="row mt-5">
    <div class="col-md-6 offset-3">
        <br />
        <br />
        <a class="btn btn-success offset-3" asp-controller="Movies" asp-action="Index">Home Page</a>
        <br />
        <br />
        <h1 class="text-primary">Not Found... It's very...</h1>
        <hr />
        <br />
        <br />
        <img src="http://risovach.ru/upload/2014/08/mem/gugl-blya_57729440_orig_.jpeg" />
    </div>
</div>
