@model WebAppMovie.Models.Producer

@{
    ViewData["Title"] = "Create";
}

<br />
<h1 class="mt-5 text-center">Create New Producer</h1>
<br />

<div class="row flex-nowrap">
    <div class="m-0">
        <img src="https://respawnfirst.com/wp-content/uploads/2020/05/Cyberpunk-Keanu-768x433.jpg" width="90%" alt="img">
    </div>
    <div class="col-md-4 ">
        <form asp-action="Create">
            <div class="form-group text-center">
                <img id="ImagePreview" class="border-info rounded-pill" style="max-width: 150px" />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayOfBirth" class="control-label"></label>
                <input asp-for="DayOfBirth" class="form-control" />
                <span asp-validation-for="DayOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Biografy" class="control-label"></label>
                <input asp-for="Biografy" class="form-control" />
                <span asp-validation-for="Biografy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                <input type="submit" value="Create" class="btn btn-outline-success float-right" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $("#ImageUrl").on("change", function () {
            var output = document.getElementById('ImagePreview');
            output.src = $(this).val();
        })
    </script>
}


@*<h1>Create</h1>

    <h4>Producer</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DayOfBirth" class="control-label"></label>
                    <input asp-for="DayOfBirth" class="form-control" />
                    <span asp-validation-for="DayOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl" class="control-label"></label>
                    <input asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Biografy" class="control-label"></label>
                    <input asp-for="Biografy" class="form-control" />
                    <span asp-validation-for="Biografy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
