@model WebAppMovie.Models.Actor

@{
    ViewData["Title"] = "Delete";
}

<br />
<h1 class="mt-5">Delete Actor</h1>
<br />

<h3>Are you sure you want to delete  @Model.FullName?</h3>

<hr />

<div class="row flex-nowrap">
    <div class="col-md-4">
        <form asp-action="Delete">
            <div class="form-group text-center">
                <img id="ImagePreview" class="border-info rounded-pill" style="max-width: 150px" />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ActorId" />
            <h1 class="text-danger">@Model.FullName</h1>
            <div class="form-group">
                <input asp-for="ImageUrl" class="form-control" />
            </div>
            <div>
                <input type="hidden" asp-for="ActorId" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
    <div>
        <img src="http://risovach.ru/upload/2013/02/mem/nelzya-prosto-tak-vzyat-i-boromir-mem_12396530_orig_.jpg" alt="img">
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ImagePreview');
            output.src = $("#ImageUrl").val();
        })
    </script>
}
